/* src/components/Hero.module.css */
.hero {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 120px;
  z-index: 2;
  position: relative;
}

.title {
  color: white;
  font-size: 62px;
  font-weight: 900;
  line-height: 1.1;
  text-align: left;
}

.description {
  color: white;
  max-width: 600px;
  text-align: left;
}

.control {
  margin-top: 40px;
}